<p>Inbox<p>
<div class = "notes-container">

  <% @notes.each do |note|%>
    <div class="note">
      <img src="https://images.unsplash.com/photo-1672745256937-4e60a4534413?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1088&q=80" >
      <div class="text">
       <%= link_to note.text, note_path(note)%>
      </div>
    </div>
  <% end %>

</div>
