<body class="container">
  <div>
    <h1>Inbox</h1>
    <div class="card-notes">
      <% @notes.each do |note|%>
        <%= link_to note_path(note) do %>
        <div class="card-note">

          <img src=<%= note.ai_images[0] ? note.ai_images[0].url : "https://res.cloudinary.com/teepublic/image/private/s--c4AzvgDC--/t_Preview/t_watermark_lock/b_rgb:191919,c_lpad,f_jpg,h_630,q_90,w_1200/v1598801323/production/designs/13546919_0.jpg" %>  width="256" height="256">
          <div class="text">
            <%#= link_to note.text.truncate_words(10), note_path(note) %>
            <%= note.text.truncate_words(10) %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
