<p>Inbox<p>

<div class="card-notes">
  <% @notes.each do |note|%>
    <%= link_to note_path(note) do %>
    <div class="card-note">
      <img src="https://images.unsplash.com/photo-1672745256937-4e60a4534413?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1088&q=80" >
      <div class="text">
        <%# <% link_to note.text, note_path(note) %>
        <%# <%= note.text %>
        <%= note.text.to_s.truncate(100) %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
