


<%# new button  %>










<%# this is a img button  %>
<div class="nav d-flex profile justify-content-between align-items-center">
  <button class="button-85"><%= link_to "Inbox", notes_path, class: "btn btn-default"  %></button>

  <div class="avatar border-radius">
    <div class="grad border-radius spin"></div>
    <button type="button" data-toggle="modal" data-target="#exampleModalCenter">
      <img src="https://lh3.googleusercontent.com/a/AGNmyxYdZLRF4ONYN4IMCGDLA5-rxxvVnuPRAPAYI3op9Q=s192-c-rg-br100" class="avatar-img border-radius" />
    </button>
    </a>
  </div>
</div>


<%# this is a background img %>
<div class="stage">

  <div class="actor"></div>
  <div class="actor"></div>
  <div class="actor"></div>

    <div class="box d-flex">
      <div class="box-2 d-flex">
        <button class="button rec-effect-4" id='microphone-button'>
          <i class="fa fa-microphone"></i>
        </button>
      </div>
    </div>
</div>



<!-- Modal bootstrap -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body nav-menu">

      <ul class="menu">
      <li>
        Avatar
        <ul class="sub-menu">
          <li>Edit profile image</li>
        </ul>
      </li>

      <li>
        Favorite notes
        <ul class="sub-menu">
        </ul>
      </li>

      <li>
        Log Out
        <ul class="sub-menu">
        </ul>
      </li>
    </ul>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    document.getElementById("microphone-button").onclick = function () {
        location.href = "/test";
    };
</script>
