<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
  <div class="">
    <a class="navbar-brand" href="#">Inbox</a>
  </div>

  <div class="">
    <a class="navbar-brand" href="#">About us</a>
  </div>

  <div class="">
    <a class="navbar-brand" href="#">More</a>
  </div>

</nav>


<div class="stage">
  <div class="actor"></div>
  <div class="actor"></div>
  <div class="actor"></div>




    <div class="box d-flex">
      <div class="box-2 d-flex">
        <button class="button rec-effect-4">
          <i class="fa fa-microphone"></i>
        </button>
      </div>
    </div>

</div>
