// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $yellow: #FFC65A;
// $green: #1EDD88;
$blue: #000080;
$orange: #C83200;
$gold: #C49645;
$gray: #0E0000;
$red: red;
$light-gray: #F4F4F4;
