// Specific CSS for your home-page
.brain {
margin: auto;
margin-bottom: 20px;
width: 110px;
display: block;
border-radius: 50%;
}

.memory {
  text-align: center;
  font-size: 350%;
  color: white;
  // font-family: 'Barlow Semi Condensed', sans-serif;  font-weight: 100;
  font-family: $headers-font;
  padding: 10px;
}

.slogan {
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 200%;
  font-family: $headers-font;
  font-weight: 100;
}

// login form
#home-body {
  // background: #f9f9f9;
  // background: linear-gradient(to right, #a905a9, #a3fa44);
  // background-image: url("https://i.redd.it/uk4of4ovgtc51.jpg");
  background-image: url("https://wallpaperaccess.com/full/1385607.jpg");
  // background-image: url("https://wallpapercave.com/wp/wp9247430.jpg");
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-sign-in {
  color: white !important;
  background-color: black;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
