<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# Thanks to devise you have access to these 2 vars %>
<%# user_signed_in?
  # => true / false
current_user
  # => User instance / nil %>
