<p>put audio tag below</p>
<%= cl_video_tag "7dth5kg22kpfjaqb02lnwulc7kou" %>
<audio
        controls
        src="https://res.cloudinary.com/dojufit8k/video/upload/v1678123535/development/7dth5kg22kpfjaqb02lnwulc7kou.mp3">
    </audio>
<p>finished</p>
