.show-container {

  z-index: 999;

  .pop-up-msg-box-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;

    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: all 0.1s;
  }

  .active {
    opacity: 1;
    visibility: initial;
    z-index: 999;
  }

  .pop-up-msg-box {
    background-color: white;
    width: 80%;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
    overflow: scroll;
  }
  .pop-up-msg-box-top {
    display: flex;
    justify-content: space-between;
  }
}

.timer {
  position: absolute;
  margin: auto;
  top: 45%; //82% was when it was at bottom
  right: 0;
  left: 0;
  width: 210px;
  background-color: #000;
  border-radius:$border-radius-lg;
}

.inner-timer {
  color: $red;
  font-size:30px;
  font-weight: bolder;
  text-align: center;
}

.mic-text{
  position: relative;
  bottom: 10%;
  margin-top: 8px;
  width: auto;
  text-align: center;
  font-size:25px;
  font-weight: bolder;
  color: white;
}
