.card-notes {
  width: 90%;
  margin: 0px auto;
  // border: 1px solid #C49645;
}

.card-note {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px ;
  box-shadow: 0 1px 2px white;
  background-color: white;

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

.text{
  padding: 10px;
  font-size: medium;
  color: $gray;
}

a {
  color: $orange;
  text-decoration: none;
  font-style: $headers-font;
}

.notes-container{

  margin: 40px 20px 10px;
  border: 1px solid;
  padding: 20px;
}
