// html, body {
//   color:#777;
//   // background:#333;
//   font-family:monospace;
// }


#mic-toggle {
  left:47%;
  margin-top:100%;
  width: 175px;
  height: 175px;
  color:#fff;
  background:#000;
  // font-size:1.1em;
  line-height:37px;
  text-align:center;
  border-radius:50% 50%;
  animation: breathing 1.5s ease-in-out infinite normal;
/* 	border:1px solid #fff; */
  transform: translateY(80px);

}


@keyframes breathing {
0% {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

25% {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

60% {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

100% {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
}



.box {
  height: calc(100vh - 38.4px);
  justify-content: center;
  // margin: auto;
}

.box-2 {
  // justify-content: center;
  flex-direction: column;
  justify-content: center;
}

// .rec-effect-4 {
// 	transition: box-shadow 0.33s ease-in-out;
// 	animation: rec-effect-4 1s infinite;
// }

// @keyframes rec-effect-4 {
// 	0% {
// 		box-shadow: 0 0 0 0 #333,
// 								0 0 0 0 rgba(192, 230, 4, 0.3),
// 								0 0 0 0 rgba(186, 203, 4, 0.3);
// 	}
// 	11% {
// 		box-shadow: 0 0 0 7px #333,
// 								0 0 0 23px rgb(255, 225, 0),
// 								0 0 0 0 rgb(224, 221, 15);
// 	}
// 	77% {
// 		box-shadow: 0 0 0 0 #333,
// 								0 0 0 11px rgba(255, 238, 0, 0.3),
// 								0 0 0 33px rgba(230, 255, 3, 0.3);
// 	}
// }

.fa-microphone {
  font-size: 60px;
  position: relative;
  bottom: 25%
}


// .profile {
//   margin-top: 125px;
// }



.nav {
  width: 100%;
  height: 10vh;
  padding: 10px 20px;
}

.nav-show-page {
  width: 100%;
  height: 10vh;
  padding: 10px 20px;
  position: absolute;
  bottom: 1%;
}




.stage {
  height: 100%;
  overflow: hidden;
  // position: relative;
  width: 100vw;
}

.actor {
  animation: kenburns 30s linear infinite;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  inset: 0;
  opacity: 0;
  position: absolute;
  // scale: 1.2;
  width: 100vw;
  z-index: -2;
}

.actor:nth-child(1) {
  // background-image: url("https://wallpaperaccess.com/full/228622.jpg");
  background-image: url("https://wallpaperaccess.com/full/1385607.jpg")
}
.actor:nth-child(2) {
  animation-delay: 10s;
  // background-image: url("https://www.wallpapertip.com/wmimgs/175-1759604_free-hawaii-desktop-wallpaper-hawaiian-beach-background.jpg");
  background-image: url("https://w.wallhaven.cc/full/o3/wallhaven-o35yv7.jpg");
}
.actor:nth-child(3) {
  animation-delay: 20s;
  background-image: url("https://i.pinimg.com/originals/12/ea/6c/12ea6ccb1d9ccfd5eb4e59dd101d5557.jpg");
}

@keyframes kenburns {
  5% {
    opacity: 1;
  }

  50% {
    opacity: .8;
    scale: 1;
  }

  60% {
    opacity: 0;
  }
}


.image_inner_container button {
  background: none;
  border: none;
}




// // navbar in img
// * {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
//   box-sizing: border-box;
// }




// button from today
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
